.ficha {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    color: rgb(192, 154, 89);
    border: 4px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    position: relative;
    background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");
  }
  
  .ficha::before {
    content: "";
    position: absolute;
    width: 85%;
    height: 85%;
    border-radius: 50%;
    border: 2px solid rgb(167, 145, 73);
    opacity: 0.5;
    
  }
  